<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let img = document.getElementById('image');
            window.resizeTo(img.width + 25, img.height + 25);
        });
    </script>
</head>
<body>
    <img id="image" src="<%= src %>"/>
</body>
</html>